# Visualizing Statistical Relationships

Statistical analysis is a process of understanding how variables in a dataset relate to each other and how those relationships depend on other variables. Visualization can be a core component of this process because, when data are visualized properly, the human visual system can see trends and patterns that indicate a relationship.

# 1. Numerical Data Ploting
1. relplot
2. scatterplot
3. lineplot

# 2. Categorical Data Ploting
1. catplot
2. boxplot
3. striplot
4. swarmplot
5. etc...

# 3. Visualizing Distribution of the Data
1. distplot
2. kdeplot
3. joinplot
4. rugplot

# 4. Linear Regression and Relationship
1. regpot
2. implot

# 4. Controlling Ploted Figure and Aesthetics
1. figure styling
2. axes styling
3. color palettes
4. etc...

In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [6]:
sns.set(style = 'darkgrid')
tips = sns.load_dataset('tips')
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [7]:
sns.relplot(x = 'total_bill', y = 'tip', data=tips)

AttributeError: 'str' object has no attribute 'get'